body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#nav {
    position: fixed;
    top: 0;
	height: 64px;
    left: 0;
    z-index: 2;
    width: 100%;
}
#navbar {
    display: flex;
	align-items: center;
    width: 100%;
    max-width: 100%;
    background-color: #545e5988;
    color: white;
    justify-content: space-between;
    max-height: 64px;
}

#navbar #my-name h1 {
    margin-left: 20px;
    font-family: 'Elsie', cursive;
    font-size: 36px;
}
#navbar #other {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: fit-content;
    padding-right: 40px;
}
#navbar #other button {
    margin: 12px;
    background-color: #545e5900;
    color: white;
    height: 27px;
    border: 0px;
    border-radius: 5px;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    font-size: 16px;

}
#navbar #other button:hover {
    background: rgba(234, 225, 223, 0.21);
}
#landing {
	position: relative;
    display: block;
    padding-top: 64px;
    width: 100%;
    height: calc(100vh - 64px);
    display: flex;
    justify-content: space-between;
    align-self:flex-end;
    color: white;
    background: linear-gradient(180deg, #545E59 100%, #667761 100%);
    z-index: 1;
    scroll-margin-top: 5rem;
}
#writings h1 {
    margin: 0;
}
.and-line {
    padding-left: 10px;
    /* text-indent: -60px; */
    margin-top: 10px;
    margin-right: 300px;
    font-size: 64px;
    float: right;
}
.and-line .and {
    position: relative;
    top: 0.50em;
    left: 3px;
    font-size: 55px;
    line-height: 50px;
    font-weight: bold;
}
#navbar #hamburger {
    display: none;
}
#writings {
    position: absolute;
    width: 50%;
	height: calc(0.5 * 100vh);
	padding-bottom: 10px;
	overflow: hidden;
	padding-top: 4rem;
	margin-left: 64px;
}
#writings h1 {
    font-size: 36px;
}
#writings p {
    font-size: 21px;
}
#picture {
	position: absolute;
    height: calc(0.5 * 100vh);
	padding-top: 4rem;
	width: 50%;
	right: 0;
}
#picture img {
	position: absolute;
	top: 4rem;
	bottom: 0;
	max-height: 100%;
	max-width: 100%;
	right: 64px;
}
#contacts {
    width: 100%;
    height: fit-content;
    background: rgba(0, 0, 0, 0.87);
    color: white;
}
.top-part {
    display: flex;
    height: 90px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.top-part h1 {
    width: fit-content;
    margin: 0 auto;
    font-size: 36px;
}
.mid-part {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.mid-part #email{
    width: 185px;
}
.mid-part textarea {
    width: 185px;
}
.mid-part .submit {
    background-color: rgba(0, 0, 0, 0.21);
    border: 1px solid white;
    color: white;
    height: 27px;
    border-radius: 5px;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    font-size: 16px;
}
.mid-part .submit:hover {
    background: rgba(0, 0, 0, 0.9);
}
.bottom-part {
    display: flex;
    max-width: 50vw;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}
.bottom-part .contact-point {
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom-part .contact-point img {
    height: 30px;
    margin-right: 5px;
}
#email-png {
    filter: invert(100%) sepia(6%) saturate(0%) hue-rotate(115deg) brightness(108%) contrast(108%);
}
#work {
    background-color: #49524b;
    color: white;
	scroll-margin-top: 64px;
}
#places-i-worked {
    padding: 10px;
}
.place-of-work-text h1 {
    margin: 0;
}
.place-of-work {
    display: flex;
    justify-content: space-between;
    margin: 50px;
}
.place-of-work-text {
    width: 50%;
}
.place-of-work img {
    width: 40%;
}
#interests {
    background-color: #545e59;
	scroll-margin-top:64px;
	max-width: 100vw;
	margin: 0;
	padding: 0;
}
.glide__slide {
    list-style: none;
}
.glide__slides img {
    width: 70%;
    max-width: 1000px;
}
.glide__slide img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    max-width: 1000px;
}
.glide__track {
    width: 90%;
    /* margin: 0 auto; */
}
#interests h1 {
    width: fit-content;
    margin: 0 auto;
    color: white;
    margin-top: 30px;
}
.work {
    width: fit-content;
    margin: 0 auto;
    color: white;
    margin-top: 30px;
}
.bullet-container {
    width: 100%;
    height: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
}
#carousel2 {
	position: relative;
    max-width: 100vw;
    height: fit-content;
	overflow-x: hidden;
}
#slides-container {
	position: relative;
	height: fit-content;
	display: flex;
	width: 100%;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	overflow: hidden;
	margin-top: 1rem;
	max-width: 100vw;
}
.slide {
	position: relative;
	width: 100%;
	height: 100%;
	flex: 1 0 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100vw;
}
.slide img {
	width:  100%;
	max-width: 700px;
	margin: 0 auto;
}
#car-buttons {
	position: absolute;
	padding: 0;
	margin: 0 auto;
	top: 50%;
	width: 100%;
	max-width: 99vw;
	height: fit-content;
	display: flex;
	justify-content: space-between;
}
#car-buttons img {
	height: 50px;
	z-index: 5;
}


@media only screen and (max-width: 768px) {
    body {
        width: 100%;
    }
    #landing {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: left;
        height: fit-content;
        min-height: 90vh;
        min-width: 100%;
    }
    #landing #writings h1 {
        font-size: 27px;
    }
    #landing #writings {
        display: inline-block;
        margin: 0 auto;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 32px;
        display: -webkit-box;
        -webkit-line-clamp: 10; /* number of lines to show */
                line-clamp: 10; 
        -webkit-box-orient: vertical;
    }
    #picture {
        /* position:fixed;
        bottom:0;
        display: block;
        margin-left: auto;
        margin-right: auto;  */
        margin-right: 0;
        height: 100%;
    }
    #landing #picture img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20%;
        height: 80%;
        max-height: 100%;
        max-width: 370px;
    }
    #navbar {
        height: 90px;
    }
    #navbar #other {
        display: none;
    }
    #navbar #hamburger {
        display: inline;
        width: 70px;
        height: 90px;
    }
    #navbar #hamburger img {
        height: 40px;
        margin: 25px 15px;
    }
    .contact-point p {
        display: none;
    }
    .place-of-work {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    .place-of-work img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
    .place-of-work-text {
        width: 80%;
        margin: 0 auto;
    }
    .place-of-work-text h1 {
        text-align: center;
    }
    .place-of-work-text p {
        width: 80%;
    }
    .glide__slides img {
        display: inline-block;
        width: 80%;
    }
    .glide__slide {
        width: 90%;
        margin: 0 auto;
    }
    .glide__track {
        width: 90%;
        margin: 0 auto;
    }
}
